<div class="modal-body">
  <form class="addClientOrderFrom" (ngSubmit)="save()" [formGroup]="editForm">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>

    <jhi-client-update [hideButtons]="true" [inputEditForm]="editForm" (editFormChange)="onEditFormChange($event)"></jhi-client-update>

    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </form>
</div>
